* { /*Aqui estÃ¡ a formataÃ§Ã£o principal que Ã© para setar os valores padrÃµes da pÃ¡gina*/
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Quicksand', sans-serif;
    padding: 50px;
    background-image: url(Imagens/telafundo.jpg);
    background-image:  fixed;
    background-size: 100%;
}

.formulario { /*Aqui está a formatação do meu form */
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.p1 { /* Aqui está a do formulário em si */
    box-shadow: 1px 1px 5px gray;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.p1-topo { /*Aqui está a formatação dos elementos da parte de cima do meu formulário*/
    text-align: center;
}

.p2-grupo{ /* Aqui está a formatação para distanciar as labels inputs e buttons */
    margin-bottom: 75px;
}

.p2-grupo > label { /*Aqui está a formatação das labels do formulário */
    width: 100%;
    color: black;
    display: block; /* Usei esse display block para ajustar os campos de email e senha com as labels */
}

.p2-grupo > input { /*Aqui está a formatação dos meus inputs */
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
}

.p2-grupo > button { /*Aqui está a formatação do botão do formulário*/
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: yellow;
    border: 0px;
    outline: 0;
    background-color: black;
    font-family: 'Quicksand', sans-serif;
}

.btn:hover { /*Aqui está a formatação da transição do botão do formulário*/
    background-color: yellow;
    color: black;
}

.icone { /* Aqui está a formatação da imagem dentro do formulário */
    border-radius: 50px;
    width: 100px;
}

.titulo {
    color: black;
    padding: 10px;
}

.h1 {
    text-align: center;
    padding: 50px;
    zoom: 130%;
}

#customers { /* Aqui está a formatação da tabela por um todo */
    border-collapse: collapse;
    width: 95%;
}

#customers td, #customers th { /* Aqui está sendo formatado a lista de separação da tabela */
    border: 2px solid yellow;
    padding: 15px;
  }

#customers th { /* Aqui está a formatação da parte de cima da tabela */
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: #000000;
    color: yellow;
}

.td {
    text-align: center;
    zoom: 160%;
}

.th {
    zoom: 140%;
}

.botao { /* Aqui está a formatação do botão da tabela */
    padding: 10px;
    border-radius: 30px;
    background-color: black;
    color: yellow;
    text-decoration: none;
}

.botao:hover { /* Aqui está a formatação da tensição do botão */
    color: black;
    background-color: yellow;
}

.estoque { /* Aqui está a formatação da label do estoque abaixo fo formulário */
    padding: 20px;
    text-align: center;
}

.estoque > label {
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
}

#Numero2 {
    font-family: 'Quicksand', sans-serif;
}

.btn2 { /* Aqui está a formatação do botão do campo estoque abaixo do formulário */
    background-color: black;
    color: yellow;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
}

.btn2:hover {
    background-color: yellow;
    color: black;
}

.material-icons { /*Aqui está a formatação do ícone home no canto superior esquerdo da página */
    background-image: url(Imagens/outline_home_black_48dp.png);
	background-repeat: no-repeat;
    padding: 50px;
}

#Tamanhopizza {
    font-family: 'Quicksand', sans-serif;
}

#Disponivel {
    font-family: 'Quicksand', sans-serif;
}

#Unidadedemedida {
    font-family: 'Quicksand', sans-serif;
}